@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.px-section {
    @apply 2xl:px-12 lg:px-8 px-4;
}
h2,
h3,
h4,
h1 {
    @apply tracking-wider;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}

html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@theme {
    --color-primary: #a35c6a;
    --color-biege: #f2ddb0;
    --color-text-primary: #0d3e4c;
    --color-text-secondary: #556070;
    --color-section-secondary: #f0f1f3;
    --shadow-double: inset 0px 4px 4px 0px #00000040, 0px 4px 4px 0px #00000040;
    --shadow-experience-double: 0px 36px 105px 0px #2b384c1a,
        0px 4px 4px 0px #00000040;
    --shadow-card: 0px 4px 4px 0px #00000040;
    --animate-rotate: rotate 5s linear infinite;
    --animate-shake: move 1.5s alternate infinite;
    --animate-stretch: increaseWidth 1s ease-in-out;

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes move {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-10px, -10px);
        }
    }
    @keyframes increaseWidth {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
}
